	<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Yoga Project: Starter Page</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="">
</head>

<body>

<h1>Look, I'm the yoga-project starter page!</h1>
<form>
	<div>Retrieving Some Info</div>

	<button id="findYoga">Find Yoga</button>
</form>

<div id="info-here"></div>
  



  <script src="../public/javascripts/jquery.js"></script>
  <script src="../routes/crawling-action.js"></script>
</body>
</html>