extends layout

block content
  h1= title
  p This is the starter page

  form
    div Retrieving some info
    button#findYoga Find Yoga
  
  #info-here Info Div

 script(src='../public/javascripts/jquery.js')
 script(src='../routes/crawling-action.js')
